<html>
    <head>
        <title> Brandon's Portfolio </title>
    </head>
    <body>
        <div>
        I am Brandon, a software engineer and web developer. Welcome to my portfolio website where you can find information about my projects, skills, and experience. Feel free to explore and reach out if you have any questions or opportunities for collaboration.
        </div>
        <ul>
            <li><a href="https://www.kanjutsu.com/" target="_blank">KanJutsu - Japanese Learning App</a></li>
            <li><a href="https://react100-vstda-mu.vercel.app/" target="_blank">Simple Todo App</a></li>
            <li><a href="https://react100-change-calculator-teal.vercel.app/" target="_blank">Change Calculator</a></li>
            <li><a href="https://math-tudor.vercel.app/" target="_blank">Math Tudor</a></li>
        </ul>
        <div>
            <a href="https://github.com/bkelly466" target="_blank">GitHub Profile</a>
        </div>
        <div>
            <a href="/contact">Contact Me</a>
        </div>

    </body>
</html>